<div class="jumbotron text-center">
{{#if model.result}}
<p>
  Your account has been activated succesfully.
</p>

{{else}}
<div class="alert alert-danger">Unknown token</div>
{{/if}}
<p>{{#link-to 'index'}}Back to homepage{{/link-to}}</p>
</div>
{{outlet}}
