<div class="jumbotron text-center">
<h3>Signup Failed!</h3>
<p>
  Unfortunately we were unable to process your request for an account. Please retry signing up at a later time!
</p>
<br/>
<p>{{#link-to 'index'}}Back to homepage{{/link-to}}</p>
</div>
{{outlet}}
